    @media only screen and (max-width: 551px) {
        .banner {
            display: none;
        }
        .footer {
            width: 100%;
            margin-left: 3%;
            margin-top: 3%;
        }
        img {
            max-width: 90%;
            max-height: 90%;
            width: 100%;
            height: auto;
        }
        main {
            width: 100%;
            margin-left: 3%;
        }
        .mainMenu ul {
            position: relative;
        }
        .mainMenu li {
            float: left;
            width: 100%;
            margin-top: 10%;
            margin-right: 20%;
            padding: 20% 0%;
        }
        .footer > * {
            width: 15%;
        }
        .leftSidebar {
            /* margin: 25%, 25%; */
            margin-left: 3%;
            width: 100%;
        }
        .leftSidebar > * {
            background-color: #f0f8ff;
            margin-top: 5%;
        }
        img:not(.partners) {
            width: auto;
            height: auto;
        }
        .partners > img {
            width: 100px;
            height: 100px;
            max-width: 200%;
            margin-left: 70%;
        }
        .partners > h2 {
            padding-left: 70%;
        }
        #welkom,
        #locatieT,
        #hygiene {
            width: 95%;
        }
        h3 {
            margin-left: 5%;
        }
    }
    
    @media only screen and (min-width: 551px) and (max-width: 759px) {
        .footer {
            width: 100%;
            margin-left: 5%;
            margin-top: 3%;
        }
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
        .banner {
            display: none;
        }
        .leftSidebar {
            width: 100%;
        }
        .leftSidebar > * {
            background-color: #f0f8ff;
            padding: 10%, 50%;
            margin-top: 5%;
            margin-left: 2%;
            width: 90%;
        }
        #hygiene {
            width: 95%;
        }
        main {
            width: 100%;
            margin-left: 2%;
        }
        .mainMenu ul {
            display: inline;
        }
        .mainMenu li {
            float: left;
            width: 100%;
            margin-top: 10%;
            margin-right: 20%;
            padding: 20% 0%;
        }
        #locatieT,
        #hygiene {
            width: 47%;
            float: right;
        }
        #welkom {
            width: 40%;
            display: inline-block;
            margin-left: 5%;
            margin-bottom: 3%;
        }
        img:not(.partners) {
            width: auto;
            height: auto;
        }
        .partners > img {
            width: 100px;
            height: 100px;
            max-width: 200%;
            margin-left: 70%;
        }
        .partners > h2 {
            padding-left: 70%;
        }
    }
    
    @media only screen and (min-width: 760px)and (max-width: 1020px) {
        img {
            max-width: 100%;
            width: 70%;
            height: 70%;
        }
        .footer {
            width: 70%;
            margin-left: 28%;
            margin-top: 3%;
        }
        .leftSidebar {
            width: 25%;
            margin: 20px 0px;
            padding: 0px 9px;
            padding-bottom: 20px;
        }
        .leftSidebar > * {
            width: 100%;
            margin: 25px 0px;
        }
        main {
            width: 70%;
            margin-left: 20px;
        }
        .mainMenu {
            float: right;
        }
        .mainMenu ul {
            margin-right: 0px;
            padding-right: 0%;
        }
        .mainMenu li {
            margin: 15px;
            padding: 20px;
            display: inline;
        }
        .footer > * {
            display: inline;
            width: 20%;
        }
        #locatieT,
        #hygiene {
            width: 40%;
            display: inline-block;
            margin-right: 5%;
            margin-bottom: 3%;
            margin-left: 6%;
        }
        #welkom {
            width: 40%;
            display: inline-block;
            margin-left: 5%;
            margin-bottom: 3%;
        }
        .leftSidebar > * {
            background-color: #fff;
        }
        img:not(.partners) {
            width: auto;
            height: auto;
        }
        .partners > img {
            width: 100px;
            height: 100px;
            max-width: 200%;
            margin-left: 70%;
        }
        .partners > h2 {
            padding-left: 70%;
        }
    }
    
    @media only screen and (min-width: 1020px) {
        img {
            max-width: 100%;
            width: 100%;
            height: auto;
            background-size: auto 200%;
        }
        .footer {
            width: 70%;
            margin-left: 28%;
            margin-top: 3%;
        }
        .leftSidebar {
            width: 25%;
            margin: 20px 0px;
            padding: 0px 9px;
            padding-bottom: 20px;
        }
        .leftSidebar > * {
            width: 100%;
            margin: 25px 0px;
        }
        main {
            width: 70%;
            margin-left: 20px;
        }
        .mainMenu {
            float: right;
        }
        .mainMenu ul {
            margin-right: 0px;
            padding-right: 0%;
        }
        .mainMenu li {
            margin: 15px;
            padding: 20px;
            display: inline;
        }
        #locatieT,
        #hygiene {
            width: 40%;
            display: inline-block;
            margin-right: 5%;
            margin-bottom: 3%;
            margin-left: 6%;
        }
        #welkom {
            width: 40%;
            display: inline-block;
            margin-left: 5%;
            margin-bottom: 3%;
        }
        .leftSidebar > * {
            background-color: #fff;
        }
        .partners > img {
            width: 100px;
            height: 100px;
            max-width: 200%;
            margin-left: 70%;
        }
        .partners > h2 {
            padding-left: 70%;
        }
    }
    
    body {
        background-color: #8B0000;
        margin: 0;
    }
    
    .footer > * {
        display: inline;
        width: 20%;
    }
    
    .banner {
        width: 100%;
        overflow: hidden;
        background-color: transparent;
        background-image: url(../images/adres.jpg);
        background-repeat: no-repeat, no-repeat;
    }
    
    .headerTitle {
        display: inline-block;
        padding: 0px;
        margin: 0px;
        margin-left: 5%;
    }
    
    h1.headerTitle,
    h2,
    h3 {
        font-family: "monospace", cursive, sans-serif;
    }
    
    h1.headerTitle {
        font-size: 52px;
        color: #0000FF;
    }
    
    .footer-menu .active,
    nav .active {
        color: #0000FF;
    }
    
    .leftSidebar h3 {
        text-align: center;
    }
    
    .leftSidebar .maandSnack,
    .openingsuren,
    .fb {
        border-radius: 35px;
    }
    
    .maandSnack {
        display: inline-block;
    }
    
    .maandSnack img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        width: auto;
        height: auto;
    }
    
    .openingsuren {
        padding: 15px 0px;
    }
    
    .fb {
        height: 600px;
    }
    
    .fb-page {
        margin: 0% 5%;
        width: 50%;
    }
    
    p {
        font-size: 17px;
    }
    
    main > h1 {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    main > h1:before,
    main > h1:after {
        flex-grow: 1;
        height: 1px;
        content: '\a0';
        background-color: #000000;
        position: relative;
        top: 0.5em;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    main > h1:before {
        margin-right: 20px;
    }
    
    main> h1:after {
        margin-left: 20px;
    }
    
    .footer {
        background-color: #696969;
        border-radius: 25px;
    }
    /*MENU*/
    
    .footer-menu > ul > li > a {
        color: #f0f8ff;
    }
    
    .mainMenu ul {
        list-style-type: none;
        display: inline-block;
    }
    
    .mainMenu li {
        list-style-type: none;
        text-align: center;
        background-color: #f0f8ff;
        border-radius: 35px;
    }
    
    nav > ul > li a:hover {
        color: #0000FF;
        display: inline;
        margin: auto;
    }
    
    nav li > a {
        color: #000;
        font-size: 40px;
        text-decoration: none;
    }
    /** SIDEBAR **/
    
    .leftSidebar {
        display: inline;
        float: left;
        background-color: #b22222;
        border-radius: 35px;
    }
    /** MAIN **/
    
    main {
        margin-top: 15px;
        display: inline-block;
        background-color: #fff;
        border-radius: 25px;
    }
    /** FOOTER */
    
    .footer-menu > ul {
        width: 20%;
        display: inline-block;
        list-style: none;
        margin-top: 10px;
        position: static;
    }
    
    main > img {
        border-radius: 25px;
        margin-left: 2%;
        margin-top: 2%;
        margin-right: 2%;
        height: auto;
    }
    
    .footer-menu li {
        list-style: none;
        margin-top: 10px;
        padding-right: 100%;
    }
    
    .partners {
        display: inline-block;
        margin-top: 20px;
    }
    
    .partners > h2 {
        text-align: center;
        margin: 0px;
        color: #f0f8ff;
        margin-bottom: 10px;
    }
    
    .contactFooter {
        display: inline-block;
        color: #f0f8ff;
        width: 30%;
        margin-left: 80px;
    }
    
    .contactFooter a {
        color: #f0f8ff;
        text-decoration: none;
    }
    
    .copyright {
        display: inline;
        font-size: 12px;
        width: auto;
        float: right;
    }
    /* INFO PAGE**/
    
    #openingsurenTabel {
        text-align: center;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        font-size: 20px;
    }
    
    #openingsurenTabel tr {
        height: 40px;
    }
    /* INFO page  */
    
    .openingsurenMain {
        border: 1px solid #000000;
        background-color: #fff;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2% 0px;
        border-radius: 35px;
    }
    
    .openingsurenMain > h2 {
        text-align: center;
    }
    
    #openingsurenTekst {
        text-align: left;
        margin-top: 20px;
        margin-left: 17%;
        display: inline-block;
        width: 80%;
    }
    
    .info *:not(.openingsurenMain) {
        margin-left: 3%;
    }
    
    #contactText {
        display: inline-block;
        width: 95%;
        text-align: justify;
    }
    
    #contactForm {
        margin-bottom: 5%;
        margin-right: 5%;
        margin-top: 5%;
        width: 90%
    }
    
    #contactForm *:not(legend) {
        width: 90%;
        display: block;
    }
    
    #frietbak {
        display: inline;
        position: inherit;
    }
    
    #frame {
        widows: 600px;
        max-width: 800px;
        max-height: 500px;
    }
    
    p {
        text-align: justify;
        margin-left: 6%;
        margin-right: 5%;
    }
    
    .menukaart > ul,
    h2 {
        margin-left: 5%;
        width: 40%;
        display: inline;
    }
    
    .menukaart li {
        margin-left: 10%;
        width: 30%;
    }